//
   Created by Sunrin on 2015. 12. 25..
doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        title AskCulture
        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href='/stylesheets/materialize.css' media='screen,projection' type='text/css' rel='stylesheet')
        link(href='/stylesheets/materialize.min.css' media='screen,projection' type='text/css' rel='stylesheet')
        link(rel='stylesheet' type='text/css' href='/stylesheets/CommonLayout.css')
        script(type="text/javascript" src="/javascripts/materialize.min.js")
        script(type='text/javascript' src='/javascripts/materialize.js')
        script(type='text/javascript' src='/javascripts/wNumb.js')
        script(type='text/javascript' src="https://js.braintreegateway.com/v2/braintree.js")
        meta(name="google-signin-client_id" content="548124732768-6bb4c44c8lqv2l02hf58q15608tkp1f5.apps.googleusercontent.com")
        block CustomHead
    body
        nav
            div(class='nav-wrapper')
                a(href='/' class='brand-logo')
                    img(src='/images/logo.png' height='40px')
                ul(class='searchNav hide-on-med-and-down')
                    li
                        input(type='text' placeholder='지역을 검색해보세요')
                    li
                        i(class='material-icons') search
                a(href='#' data-activates='mobile_menu' class='button-collapse')
                    i(class='material-icons') menu
                ul(class='right hide-on-med-and-down')
                    li(class='signedUserContent nav_userProfileContent')
                        a(href='/mypage')
                            div(class='profileImage' style='background: url(/images/tempProfile.jpg);')
                    li(class='signedUserContent nav_name nav_userProfileContent') yeji Jeon
                    li(class='unsignedUserContent')
                        a(href='#')
                            div(class='btn nav_button nav_loginButton') 로그인
                    li(class='unsignedUserContent')
                        a(href='#')
                            div(class='btn nav_button nav_registerButton') 회원가입
                    li(class='signedUserContent')
                        a(href='#')
                            div(class='btn nav_button') 요청하기
                    li(class='signedUserContent')
                        a(href='/UploadAsk')
                            div(class='btn nav_button') 제안하기
                ul(class='side-nav' id='mobile_menu')
                    li
                        div(class='signedUserContent profileImage' style='background: url(/images/myProfile.png);')
                        div(class='signedUserContent nav_name') yeji Jeon
                    li 요청하기
                    li 제안하기
                script $(".button-collapse").sideNav();
        block content
        footer(class='page-footer')
            div(class='container')
                div(class='moreLink-Container')
                    ul(class='moreLink-List center')
                        li(class='moreLink-Item')
                            a(href='#')
                                img(src='/images/ic_instaLink.png')
                        li(class='moreLink-Item')
                            a(href='#')
                                img(src='/images/ic_fbLink.png')
                        li(class='moreLink-Item')
                            a(href='#')
                                img(src='/images/ic_twitterLink.png')
                        li(class='moreLink-Item')
                            a(href='#')
                                img(src='/images/ic_blogLink.png')
                div(class='introduceLink-Container')
                    ul(class='introduceLink-List')
                        li(class='introduceLink-Item')
                            a(href='#') 회사소개
                        li(class='introduceLink-Item')
                            a(href='#') 이용방법
                        li(class='introduceLink-Item')
                            a(href='#') 공지사항
                        li(class='introduceLink-Item')
                            a(href='#') 고객센터
                        li(class='introduceLink-Item')
                            a(href='#') 약관및정책
                div(class='languageContainer')
                    a(class='btn dropdown-button' href='#' data-activates='dropdownLanguage') 한국어
                    ul(id='dropdownLanguage' class='dropdown-content')
                        li
                            a(href='#') 한국어
                        li(class='divider')
                        li
                            a(href='#') English
                        li(class='divider')
                        li
                            a(href='#') 中國語
                div(class='excContainer')
                    a(class='btn dropdown-button' href='#' data-activates='dropdownExc') KRW₩
                    ul(id='dropdownExc' class='dropdown-content')
                        li
                            a(href='#') KRW₩
                        li(class='divider')
                        li
                            a(href='#') USD$
                        li(class='divider')
                        li
                            a(href='#') CNY¥
                div(class='footer-context')
                    p 상호명 주식회사 애스크컬쳐(AskCulture) ｜ 대표이사 홍선기 ｜ 개인정보책임자 강민구 ｜ 사업자등록번호 178-81-00262 ｜ 통신판매업신고번호 제 2016-서울종로-0174 호
                    p 서울시 종로구 종로6 서울창조경제혁신센터 5F
                    p Tel +82 2 6280 1439 ｜ E-mail askculture@askculture.com ｜ 자사는 서울특별시관광협회 공제영업보증보험에 가입되어 있습니다.
                    p 애스크컬쳐는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 애스크컬쳐는 상품·거래정보 및 거래에 대하여 책임을 지지 않습니다.
            div(class='footer-copyright')
                div(class='container') AskCulture
        div(id="status")
        div(class='backgroundDialog-wrapper' id='loginDialog-wrapper')
            div(id='loginDialog')
                div(class='dialogHeader')
                    span(class='loginHead') 로그인
                    i(class='material-icons loginDialogCloseButton') close
                div(class='facebookLogin')
                    fb:login-button(scope="public_profile,email" onlogin="checkLoginState();" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" width="384px") Sign in with Facebook Button is not loading... please wait
                div(class='googlePlusLogin')
                    div(id='googlePlusLoginButton')
                div(class='loginDivider')
                    span or
                input(type='email' placeholder='이메일 입력' id='loginFormEmail')
                input(type='password' placeholder='비밀번호 입력' id='loginFormPassword')
                div(class='btn orange white-text z-depth-0 loginSubmitButton') 로그인
                div(class='loginCheckBoxContainer')
                    input(type='checkbox' id='UserEmailSave')
                    label(for='UserEmailSave') 아이디 저장
                    input(type='checkbox' id='AutomaticLogin')
                    label(for='AutomaticLogin') 자동로그인
                hr
                div(class='goSignUp') AskCulture 계정이 없으세요? <a href="#" class="SignUpLink ">회원가입</a>
        div(class='backgroundDialog-wrapper' id='registerTerms-wrapper')
            div(id='registerTermDialog')
                div(class='dialogHeader')
                    span(class='registerHead') 회원가입
                    i(class='material-icons registerDialogCloseButton') close
                div(class='termsContainer')
                    p AskCulture 필수약관 동의(필수)
                    div(class='termsBox')
                        p asdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasd
                    div(class='agreeContainer right-align')
                        input(type='checkbox' id='firstRequired')
                        label(for='firstRequired') 위 약관에 동의 합니다.
                    p AskCulture 개인정보 취급 약관 동의(필수)
                    div(class='termsBox')
                        p asdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasd
                    div(class='agreeContainer right-align')
                        input(type='checkbox' id='secondRequired')
                        label(for='secondRequired') 위 약관에 동의 합니다.
                    p 뉴스 및 이메일 정보 수신 동의(선택)
                    div(class='termsBox')
                        p asdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasdasdvasdasd
                    div(class='agreeContainer right-align')
                        input(type='checkbox' id='thirdRequired')
                        label(for='thirdRequired') 위 정보 수신에 동의 합니다.
                    div(class='nextRegisterStepButton') 다음
        div(class='backgroundDialog-wrapper' id='registerEmailDialog-wrapper')
            div(id='registerEmailDialog')
                div(class='dialogHeader')
                    span(class='registerHead') 회원가입
                    i(class='material-icons registerEmailDialogCloseButton') close
                div(class='facebookRegister')
                    fb:login-button(scope="public_profile,email" onlogin="checkLoginState();" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" width="384px") Sign in with Facebook Button is not loading... please wait
                div(class='googlePlusRegister')
                    div(id='googlePlusRegisterButton')
                div(class='registerDivider')
                    span or
                div(class='formDataContainer')
                    div(class='nameFormLinear')
                        input(type='text' id='registerFirstName' placeholder='first name')
                        input(type='text' id='registerLastName' placeholder='last name')
                    input(type='email' id='registerEmail' placeholder='이메일 입력')
                    input(type='password' id='registerPassword' placeholder='비밀번호 입력')
                    div(class='checkPassword')
                        i(class='material-icons' id='checkDone') done
                        i(class='material-icons' id='checkFail') close
                        span 숫자/영문(대,소문자) 최소 6자리
                    input(type='password' id='registerPasswordConfirm' placeholder='비밀번호 확인')
                    div(class='rightPassword')
                        i(class='material-icons') done
                        span 올바른 비밀번호 입니다.
                    div(class='wrongPassword')
                        i(class='material-icons') close
                        span 올바르지 않은 비밀번호 입니다.
                    div(class='lastRegisterStepButton') 회원가입
        div(class='backgroundDialog-wrapper' id='registerInformation-wrapper')
            div(id='registerInformationDialog')
                div(class='dialogHeader')
                    span(class='registerHead') 회원가입
                    i(class='material-icons registerInformationCloseButton') close
                div(class='registerBirthdayLabel registerInformationLabel') 생일
                div(class='registerBirthdayForm')
                    select(id='yearsDropdown')
                        option(disabled selected) 년도
                    select(id='MonthDropdown')
                        option(disabled selected) 월
                    select(id='DayDropdown')
                        option(disabled selected) 일
                div(class='registerGenderLabel registerInformationLabel') 성별
                div(class='registerGenderForm')
                    input(name='registerGender' value='true' type='radio' class='with-gap' id='male')
                    label(for='male') 남자
                    input(name='registerGender' value='false' type='radio' class='with-gap' id='female')
                    label(for='female') 여자
                div(class='registerLanguageLabel registerInformationLabel') 언어
                div(class='registerLanguageForm')
                    i(class='tiny material-icons dropdown-button' data-activates='languageDropdown') add
                    ul(id='languageDropdown' class='dropdown-content')
                        li
                            a(href='#' language-code='1') 한국어
                        li(class='divider')
                        li
                            a(href='#' language-code='2') English
                        li(class='divider')
                        li
                            a(href='#' language-code='3') 日本語
                        li(class='divider')
                        li
                            a(href='#' language-code='4') 中文
                        li(class='divider')
                        li
                            a(href='#' language-code='5') Español
                        li(class='divider')
                        li
                            a(href='#' language-code='6') català
                        li(class='divider')
                        li
                            a(href='#' language-code='7') اللغة العربية الفصحى
                        li(class='divider')
                        li
                            a(href='#' language-code='8') Русский язык
                        li(class='divider')
                        li
                            a(href='#' language-code='9') Dutch
                        li(class='divider')
                        li
                            a(href='#' language-code='10') français
                        li(class='divider')
                        li
                            a(href='#' language-code='11') Deutsch
                        li(class='divider')
                        li
                            a(href='#' language-code='12') čeština
                        li(class='divider')
                        li
                            a(href='#' language-code='13') Svenska
                        li(class='divider')
                        li
                            a(href='#' language-code='14') suomi
                        li(class='divider')
                        li
                            a(href='#' language-code='15') Türkçe
                        li(class='divider')
                        li
                            a(href='#' language-code='16') português
                        li(class='divider')
                        li
                            a(href='#' language-code='17') Polski
                        li(class='divider')
                        li
                            a(href='#' language-code='18') Italiano
                        li(class='divider')
                        li
                            a(href='#' language-code='19') dansk
                        li(class='divider')
                        li
                            a(href='#' language-code='20') norsk
                        li(class='divider')
                        li
                            a(href='#' language-code='21') Bahasa Indonesia
                div(class='registerStateLabel registerInformationLabel') 국가
                div(class='registerStateForm')
                    select(id='registerStateCode')
                        option(disabled selected value="") 국가
                        option(value="0") Afghanistan
                        option(value="1") Albania
                        option(value="2") Algeria
                        option(value="3") American Samoa
                        option(value="4") Andorra
                        option(value="5") Angola
                        option(value="6") Anguilla
                        option(value="7") Antigua &amp; Barbuda
                        option(value="8") Argentina
                        option(value="9") Armenia
                        option(value="10") Aruba
                        option(value="11") Australia
                        option(value="12") Austria
                        option(value="13") Azerbaijan
                        option(value="14") Bahamas
                        option(value="15") Bahrain
                        option(value="16") Bangladesh
                        option(value="17") Barbados
                        option(value="18") Belarus
                        option(value="19") Belgium
                        option(value="20") Belize
                        option(value="21") Benin
                        option(value="22") Bermuda
                        option(value="23") Bhutan
                        option(value="24") Bolivia
                        option(value="25") Bonaire
                        option(value="26") Bosnia &amp; Herzegovina
                        option(value="27") Botswana
                        option(value="28") Brazil
                        option(value="29") British Indian Ocean Ter
                        option(value="30") Brunei
                        option(value="31") Bulgaria
                        option(value="32") Burkina Faso
                        option(value="33") Burundi
                        option(value="34") Cambodia
                        option(value="35") Cameroon
                        option(value="36") Canada
                        option(value="37") Canary Islands
                        option(value="38") Cape Verde
                        option(value="39") Cayman Islands
                        option(value="40") Central African Republic
                        option(value="41") Chad
                        option(value="42") Channel Islands
                        option(value="43") Chile
                        option(value="44") China
                        option(value="45") Christmas Island
                        option(value="46") Cocos Island
                        option(value="47") Colombia
                        option(value="48") Comoros
                        option(value="49") Congo
                        option(value="50") Cook Islands
                        option(value="51") Costa Rica
                        option(value="52") Cote D'Ivoire
                        option(value="53") Croatia
                        option(value="54") Cuba
                        option(value="55") Curacao
                        option(value="56") Cyprus
                        option(value="57") Czech Republic
                        option(value="58") Denmark
                        option(value="59") Djibouti
                        option(value="60") Dominica
                        option(value="61") Dominican Republic
                        option(value="62") East Timor
                        option(value="63") Ecuador
                        option(value="64") Egypt
                        option(value="65") El Salvador
                        option(value="66") Equatorial Guinea
                        option(value="67") Eritrea
                        option(value="68") Estonia
                        option(value="69") Ethiopia
                        option(value="70") Falkland Islands
                        option(value="71") Faroe Islands
                        option(value="72") Fiji
                        option(value="73") Finland
                        option(value="74") France
                        option(value="75") French Guiana
                        option(value="76") French Polynesia
                        option(value="77") French Southern Ter
                        option(value="78") Gabon
                        option(value="79") Gambia
                        option(value="80") Georgia
                        option(value="81") Germany
                        option(value="82") Ghana
                        option(value="83") Gibraltar
                        option(value="84") Great Britain
                        option(value="85") Greece
                        option(value="86") Greenland
                        option(value="87") Grenada
                        option(value="88") Guadeloupe
                        option(value="89") Guam
                        option(value="90") Guatemala
                        option(value="91") Guinea
                        option(value="92") Guyana
                        option(value="93") Haiti
                        option(value="94") Hawaii
                        option(value="95") Honduras
                        option(value="96") Hong Kong
                        option(value="97") Hungary
                        option(value="98") Iceland
                        option(value="99") India
                        option(value="100") Indonesia
                        option(value="101") Iran
                        option(value="102") Iraq
                        option(value="103") Ireland
                        option(value="104") Isle of Man
                        option(value="105") Israel
                        option(value="106") Italy
                        option(value="107") Jamaica
                        option(value="108") Japan
                        option(value="109") Jordan
                        option(value="110") Kazakhstan
                        option(value="111") Kenya
                        option(value="112") Kiribati
                        option(value="113") Korea North
                        option(value="114") Korea South
                        option(value="115") Kuwait
                        option(value="116") Kyrgyzstan
                        option(value="117") Laos
                        option(value="118") Latvia
                        option(value="119") Lebanon
                        option(value="120") Lesotho
                        option(value="121") Liberia
                        option(value="122") Libya
                        option(value="123") Liechtenstein
                        option(value="124") Lithuania
                        option(value="125") Luxembourg
                        option(value="126") Macau
                        option(value="127") Macedonia
                        option(value="128") Madagascar
                        option(value="129") Malaysia
                        option(value="130") Malawi
                        option(value="131") Maldives
                        option(value="132") Mali
                        option(value="133") Malta
                        option(value="134") Marshall Islands
                        option(value="135") Martinique
                        option(value="136") Mauritania
                        option(value="137") Mauritius
                        option(value="138") Mayotte
                        option(value="139") Mexico
                        option(value="140") Midway Islands
                        option(value="141") Moldova
                        option(value="142") Monaco
                        option(value="143") Mongolia
                        option(value="144") Montserrat
                        option(value="145") Morocco
                        option(value="146") Mozambique
                        option(value="147") Myanmar
                        option(value="148") Nambia
                        option(value="149") Nauru
                        option(value="150") Nepal
                        option(value="151") Netherland Antilles
                        option(value="152") Netherlands (Holland, Europe)
                        option(value="153") Nevis
                        option(value="154") New Caledonia
                        option(value="155") New Zealand
                        option(value="156") Nicaragua
                        option(value="157") Niger
                        option(value="158") Nigeria
                        option(value="159") Niue
                        option(value="160") Norfolk Island
                        option(value="161") Norway
                        option(value="162") Oman
                        option(value="163") Pakistan
                        option(value="164") Palau Island
                        option(value="165") Palestine
                        option(value="166") Panama
                        option(value="167") Papua New Guinea
                        option(value="168") Paraguay
                        option(value="169") Peru
                        option(value="170") Philippines
                        option(value="171") Pitcairn Island
                        option(value="172") Poland
                        option(value="173") Portugal
                        option(value="174") Puerto Rico
                        option(value="175") Qatar
                        option(value="176") Republic of Montenegro
                        option(value="177") Republic of Serbia
                        option(value="178") Reunion
                        option(value="179") Romania
                        option(value="180") Russia
                        option(value="181") Rwanda
                        option(value="182") St Barthelemy
                        option(value="183") St Eustatius
                        option(value="184") St Helena
                        option(value="185") St Kitts-Nevis
                        option(value="186") St Lucia
                        option(value="187") St Maarten
                        option(value="188") St Pierre &amp; Miquelon
                        option(value="189") St Vincent &amp; Grenadines
                        option(value="190") Saipan
                        option(value="191") Samoa
                        option(value="192") Samoa American
                        option(value="193") San Marino
                        option(value="194") Sao Tome &amp; Principe
                        option(value="195") Saudi Arabia
                        option(value="196") Senegal
                        option(value="197") Serbia
                        option(value="198") Seychelles
                        option(value="199") Sierra Leone
                        option(value="200") Singapore
                        option(value="201") Slovakia
                        option(value="202") Slovenia
                        option(value="203") Solomon Islands
                        option(value="204") Somalia
                        option(value="205") South Africa
                        option(value="206") Spain
                        option(value="207") Sri Lanka
                        option(value="208") Sudan
                        option(value="209") Suriname
                        option(value="210") Swaziland
                        option(value="211") Sweden
                        option(value="212") Switzerland
                        option(value="213") Syria
                        option(value="214") Tahiti
                        option(value="215") Taiwan
                        option(value="216") Tajikistan
                        option(value="217") Tanzania
                        option(value="218") Thailand
                        option(value="219") Togo
                        option(value="220") Tokelau
                        option(value="221") Tonga
                        option(value="222") Trinidad &amp; Tobago
                        option(value="223") Tunisia
                        option(value="224") Turkey
                        option(value="225") Turkmenistan
                        option(value="226") Turks &amp; Caicos Is
                        option(value="227") Tuvalu
                        option(value="228") Uganda
                        option(value="229") Ukraine
                        option(value="230") United Arab Emirates
                        option(value="231") United Kingdom
                        option(value="232") United States of America
                        option(value="233") Uruguay
                        option(value="234") Uzbekistan
                        option(value="235") Vanuatu
                        option(value="236") Vatican City State
                        option(value="237") Venezuela
                        option(value="238") Vietnam
                        option(value="239") Virgin Islands (Brit)
                        option(value="240") Virgin Islands (USA)
                        option(value="241") Wake Island
                        option(value="242") Wallis &amp; Futana Is
                        option(value="243") Yemen
                        option(value="244") Zaire
                        option(value="245") Zambia
                        option(value="246") Zimbabwe
                div(class='registerFavoriteGenreLabel registerInformationLabel') 관심분야(중복가능)
                div(class='registerFavoriteGenreForm')
                    input(type='checkbox' id='registerGenreCheckAll' onchange='onChangeSelectAll()')
                    label(for='registerGenreCheckAll') 모두 선택
                    input(type='checkbox' id='registerGenreArt')
                    label(for='registerGenreArt') 미술
                    input(type='checkbox' id='registerGenreButty')
                    label(for='registerGenreButty') 미용
                    input(type='checkbox' id='registerGenreKorea')
                    label(for='registerGenreKorea') 한류
                    input(type='checkbox' id='registerGenreBusiness')
                    label(for='registerGenreBusiness') 비지니스
                    input(type='checkbox' id='registerGenreLeisure')
                    label(for='registerGenreLeisure') 레저
                    input(type='checkbox' id='registerGenreShopping')
                    label(for='registerGenreShopping') 쇼핑
                    input(type='checkbox' id='registerGenreCooking')
                    label(for='registerGenreCooking') 요리
                    input(type='checkbox' id='registerGenreEtc')
                    label(for='registerGenreEtc') 기타
                    input(type='checkbox' id='registerGenreEducation')
                    label(for='registerGenreEducation') 교육
                    input(type='checkbox' id='registerGenreExperience')
                    label(for='registerGenreExperience') 체험
                    input(type='checkbox' id='registerGenreTraditional')
                    label(for='registerGenreTraditional') 전통문화
                    input(type='checkbox' id='registerGenreEntertainment')
                    label(for='registerGenreEntertainment') 엔터테인먼트
                    input(type='checkbox' id='registerGenreTour')
                    label(for='registerGenreTour') 투어
                div(class='registerSubmitButton') 완료
        div(class='languageLevelDialog')
            p 언어숙련도를 설정하세요
            div(class='levelSettingContainer')
                i(class='material-icons levelMinus') remove
                span(class='levelCount tooltipped' data-position='top' data-tooltip='1) Level 1: 더듬더듬 우리 단어로 대화해요.<br>2) Level 2: 문화에 대해 설명해드릴 수 있어요.<br>3) Level 3: 말씀 편하게 하세요.') 1
                i(class='material-icons levelPlus') add
            div(class='levelConfirmContainer')
                span(class='levelConfirmCancleButton') 취소
                span(class='levelConfirmSettingButton') 확인
        div(id='paypal-container')
        script(type='text/javascript' src='/javascripts/FacebookController.js')
        script(type='text/javascript' src='/javascripts/GooglePlusController.js')
        script(src="https://apis.google.com/js/platform.js?onload=renderButton" async defer)
        script(type='text/javascript' src='/javascripts/userController.js')
        script(type='text/javascript' src='/javascripts/common.js')
        script(type='text/javascript' src='/javascripts/paymentController.js')