//
   Created by Sunrin on 2015. 12. 25..

extends CommonLayout
block CustomHead
    link(rel='stylesheet' type='text/css' href='/stylesheets/index.css')
block content
    div(class='row contentBox' id='contentHomeBox')
        div(class='col s12 l12 m12' id='HomeBoxOffSet')
        div(class='col s12 l12 m12' id='HomeBoxMenu')
            div(class='ServiceBox')
                p(class='ServiceMent') 내 여행을 도와줄 친구를 찾아요.
                div(class='btn ServiceButton') 방문자로 서비스 요청하기
            div(class='ServiceBox')
                p(class='ServiceMent') 이 곳에 당신 친구가 되어줄게요.
                div(class='btn ServiceButton') 현지주민으로 서비스 제안하기
            script(type='text/javascript' src='/javascripts/index.js')
    div(class='row contentBox')
        div(class='col s12 l12 m12')
            div(id='introduceService') AskCulture는 원하는 여행경험을 직접 요청할 수 있는<br>여행방식의 새로운 패러다임을 제공합니다.<br><br>AskCulture에서만 경험할 수 있는 문화체험에 대해 알아 보세요.
            iframe(id='introduceVideo' width="60%" height="50%" src="https://www.youtube.com/embed/5YtmSuIOTO8" frameborder="0" allowfullscreen)
    div(class='row contentBox HowToVisitor')
        div(class='col s12 l12 m12')
            div(class='ContentBlockHeader') AskCulture 이용방법 알아보기
            img(src='/images/ic_visitor.png' width='8%' class='HowToIcon')
            div(class='HowToButton VisitorButton') 방문자라면...
            div(class='HowToContentBox VisitorContentBox')
                div(class='HowToContent')
                    div(class='HowToStep')
                        div(class='CountStep') 1
                        p(class='StepHeader') 현지주민 찾기
                        p(class='StepContent') 현지 주민들이 올린<br>활동들을 찾아보세요.
                    div(class='HowToStep')
                        div(class='CountStep') 2
                        p(class='StepHeader') 요청하기
                        p(class='StepContent') 리스트에 원하는 콘텐츠가 없으면<br>현지주민에게 직접 요청해 보세요.
                    div(class='HowToStep')
                        div(class='CountStep') 3
                        p(class='StepHeader') 예약하기
                        p(class='StepContent') 믿을 만한 정보를 확인해<br>현지주민을 선택하세요.
    div(class='row contentBox HowToLocal')
        div(class='col s12 l12 m12')
            img(src='/images/ic_local.png' width='5%' class='HowToIcon')
            div(class='HowToButton LocalButton') 현지주민이라면...
            div(class='HowToContentBox LocalContentBox')
                div(class='HowToContent')
                    div(class='HowToStep')
                        div(class='CountStep') 1
                        p(class='StepHeader') 방문자 찾기
                        p(class='StepContent') 내 지역에 방문하는<br>방문자를 찾아보세요.
                    div(class='HowToStep')
                        div(class='CountStep') 2
                        p(class='StepHeader') 제안하기
                        p(class='StepContent') 나누고 싶은 문화가 있다면<br>방문자들에게 제안해 보세요.
                    div(class='HowToStep')
                        div(class='CountStep') 3
                        p(class='StepHeader') 예약확인하기
                        p(class='StepContent') 나누고 싶은 문화가 있다면<br>방문자들에게 제안해 보세요.
    div(class='row contentBox suggestContent')
        div(class='col s12 l12 m12')
            div(class='ContentBlockHeader') 이런 문화체험 어때요?
            p(class='subhead') 현지주민이 제안한 문화체험
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox moreView') 더보기 +
    div(class='row contentBox suggestContent')
        div(class='col s12 l12 m12')
            div(class='ContentBlockHeader') 이런 문화체험 하고싶어요!
            p(class='subhead') 방문자가 요청한 문화체험
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox')
            div(class='SuggestBox moreView') 더보기 +
    div
        div(class='ContentBlockHeader linkBox')
            img(src='/images/ic_kakaoStory.png' height='25px')
            img(src='/images/ic_faceBook.png' height='25px')
            img(src='/images/ic_naverBlog.png' height='25px')
            img(src='/images/ic_instargram.png' height='25px')
            img(src='/images/ic_twitter.png' height='25px')
    footer(class='page-footer')
        div(class='container')
            div(class='row')
                div(class='col l6 s6 m6')
                    div(class='verticalAlignFooter')
                        a(class='dropdown-button btn' href='#' data-activates='dropdownLanguage') 한국어
                        ul(id='dropdownLanguage' class='dropdown-content')
                            li
                                a(href='#') 한국어
                            li(class='divider')
                            li
                                a(href='#') English
                            li(class='divider')
                            li
                                a(href='#') 中國語
                        a(class='dropdown-button btn' href='#' data-activates='dropdownExc') KW₩
                        ul(id='dropdownExc' class='dropdown-content')
                            li
                                a(href='#') KRW₩
                            li(class='divider')
                            li
                                a(href='#') USD$
                            li(class='divider')
                            li
                                a(href='#') CNY¥
                div(class='col l6 m6 s6')
                    div(class='verticalAlignFooter removeLine')
                        p(class='centerBtn')
                            a(href='#') 개인정보취급방침
                        p(class='centerBtn')
                            a(href='#') 이용약관
                        p(class='centerBtn')
                            a(href='#') 고객센터
            div(class='container footer-copy')
                p 상호명 애스크컬쳐 | 대표이사 홍선기 | 개인정보책임자 이명훈 | 사업자등록번호 000-00-00000 | 통신판매업신고번호 제2 - 14 - 서울 - 영등포 - 0000호<br>서울특별시 영등포구 국제금융로 10길 11(주)애스크컬쳐<br>TEL 00 - 0000 - 0000 | EMAIL askculture@askculture.com | 자사는 서울특별시관광협회 공제영업보증보험에 가입되어 있습니다.
                img(src='/images/nav_logo.png' width='25%')
