//
   Created by Sunrin on 2015. 12. 30..
extends CommonLayout
block CustomHead
    link(rel='stylesheet' type='text/css' href='/stylesheets/mypage.css')
block content
    div(class='contentBox')
        div(id='profileImageContent')
            div(class='circle contentProfileImage')
            a(class='waves-effect waves-light btn teal') 프로필 사진 변경하기
            i(class='material-icons') https
            span 잠금표시된 항목은 본인에게만 보여집니다.
        div(id='profileTabContentBox')
            div(class='profileNameBox')
                p Michelle Lee
                p Queens, New York, USA
            div(class='row')
                div(class='col s12 l12 m12')
                    ul(class='tabs')
                        li(class='tab col s2 l2 m2')
                            a(href='#' class='active') 자기소개
                        li(class='tab col s2 l2 m2')
                            a(href='#') 사진
                        li(class='tab col s2 l2 m2')
                            a(href='#') 내 문화체험
                        li(class='tab col s2 l2 m2')
                            a(href='#') 계정관리
                        li(class='tab col s2 l2 m2')
                            a(href='#') 나의 요청
                div(class='col s12 l12 m12')
                    div(class='profileIntroduce')
                        div(class='Gender')
                            i(class='material-icons') face
                            span 성별/나이
                        div(class='Place')
                            i(class='material-icons') location_on
                            span 주요활동지역
                        div(class='Language')
                            i(class='material-icons') language
                            span 사용가능언어
                        div(class='Favorite')
                            i(class='material-icons') favorite_border
                            span 관심분야
                    div(class='simpleIntroduce')
                        div
                            i(class='material-icons') mode_edit
                            span 한줄소개
                    div(class='profileIntroduce')
                        div(class='Visited')
                            i(class='material-icons') check
                            span 방문했던 나라
                        div(class='Wanted')
                            i(class='material-icons') touch_app
                            span 방문희망 나라
                    div(id='profileMap')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwCJHwCqCkJ7C9_ecZihe0qmiKoHF4LrY&callback=initMap&language=En&region=En")
    script(type='text/javascript' src='/javascripts/mypage.js')