@font-face {
    src: url(../font/NanumGothic-Regular.ttf);
    font-family: 'Nanum Gothic';
}
@font-face {
    src: url(../font/NanumGothic-ExtraBold.ttf);
    font-family: 'Nanum Gothic-Bold';
}
.contentBox{
    height: 80vh;
    width: 100%;
    display: block;
    border: solid 1px #e6e6e6;
    margin: 0;
}
.contentBox:first-child{
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    transition: 3s;
}
#contentHomeBox{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
.TextButtonContents{
    color: white;
    font-size: 1.2vw;
    vertical-align: middle;
    border-bottom: 3px solid rgba(255,255,255,0);
}
#MenuBar div{
    font-size: 1.2vw;
    margin: 0 1vw;
    padding: 0 1.5vw;
    height: 3vh !important;
    line-height: 3vh !important;
}
#MainSearchContent input{
    border: solid 2px white !important;
    width: 30vw;
    height: 2vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    color: white;
    background: rgba(255,255,255,0.4);
    display: inline-block;
}
#MainSearchContent{
    color: white;
    margin-top: 10%;
    vertical-align: middle;
}
.searchContentBox{
    width: 40%;
    margin-left: 5%;
}
#MainSearchContent p:first-child span{
    float: right;
}
#MainSearchContent div div{
    float: right;
    width: 8vw !important;
    height: 2.5vw;
    display: inline-block;
}
.searchContentBox span{
    font-family: 'Nanum Gothic', 'Roboto', sans-serif;
    font-size: 1.8vw;
}
.lineContent hr{
    width: 44%;
    display: inline-block;
}
.lineContent span{
    font-size: 1vw;
    font-style: italic;
    margin: 0 3%
}
#MenuBar ul{
    font-size: 1.2vw !important;
    width: 1.2vw !important;
    margin: 0 1vw !important;
}
#MenuBar .dropdown-button{
    background: none;
    border: white 1px solid !important;
    font-size: 1.2vw;
    margin: 0 1vw;
    padding: 0 1.5vw;
    height: 3vh !important;
    line-height: 3vh !important;
}
#MenuBar .dropdown-content li a{
    font-size: 0.6vw !important;
    width: 0.3vw !important;
}
#MenuBar .dropdown-content li{
    font-size: 0.6vw !important;
    width: 0.3vw !important;
}
#MenuBar .dropdown-content{
    font-size: 0.6vw !important;
    width: 0.3vw !important;
}
#MenuBar span{
    margin: 0 2vw;
}
#MenuBar{
    vertical-align: bottom;
    float: right;
    margin-right: 2vw;
}
#Title{
    margin-left: 50px;
    font-family: 'Nanum Gothic-Bold', 'Roboto', sans-serif;
    font-size: 1.7vw;
    color: white;
}
.TextButtonContents:hover{
    border-bottom: 0.3vh solid white;
    transition: 0.5s;
}
body{
    margin: 0;
    padding: 0;
}
#titleDocBar{
    background: rgba(0,0,0,0.36);
    padding: 1vh 0;
}
#MenuBar div{
    font-family: 'Nanum Gothic', 'Roboto', sans-serif;
}