.mainComment p:first-child {
    font-size: 4.5em !important;
}
.mainComment p:last-child {
    font-size: 4em !important;
}
body {
    text-rendering: optimizeLegibility !important;
}
.tabs, .ContentBlockHeader, .subhead, footer, .cultureCard {
    font-family: 'Raleway-Thin' !important;
}
.footer-context {
    font-size: 4em !important;
}