@media screen and (min-width:1000px) {
    .howWorkBox {
            display: inline-block !important;
            width: 33.333333%;
    }
    /*
    .footer-context p {
        font-size: 0.8em;
        margin-top: 0.8%;
   }
   */
}
@media screen and (min-width:501px) and (max-width:999px) {
/**
* tablet style css
*/

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /**
    * mobile style css
    */
    /* Share the Korean Culture */
    .mainComment {
        margin-top: 6vw;
    }
    .mainComment p:first-child {
        font-size: 8vw;
    }
    .mainComment p:last-child {
        font-size: 6vw;
    }
    /* END */

    /* SearchBar Css */
    .searchPlace .searchInputBox {
        width: 80% !important;
        margin-left: 9% !important;
        height: 8em !important;
    }
    .searchInputBox input {
        text-align: center;
        height: 3em !important;
        font-size: 2.8em;
    }
    .searchButton {
        height: 8em;
        width: 14em;
        margin-left: -0.5vw;
        overflow: hidden;
    }
    .searchInputBox i {
        font-size: 6em;
    }
    /* END */

    /* What is Askculture */
    .introduceHeader {
        margin-top: 3vw;
        font-size: 3vw;
        width: 80vw !important;
        margin-left: 10% !important;
    }
    /* Not Uppercase */
    .btn, .btn-large, .btn-flat {
        text-transform: none;
    }
    /* END */

    /* How it Works margin */
    .HowitWorkHeader {
        font-size: 8vw;
        margin-bottom: 3vw;
        margin-top: 14vw;
    }
    /* END */

    /* FilpSnap CSS */
    .viewport {
        overflow: hidden;
        width: 100vw;
    } 
    .FlipsnapAVisitor, .FlipsnapALocal, .FlipsnapMypage {
        width: 300vw;
    } 
    .item {
        float: left;
        width: 80vw;
    }
    .pointer {
        text-align: center;
    }
    .pointer span{
        border: 1px solid #000;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin: 2vw;
        background: #F5F5F5;
    }
    .pointerAVisitor .current {
        background: rgba(25, 189, 196, 1) !important;
    }
    .pointerALocal .current {
        background: rgba(242, 147, 26, 1) !important;
    }
    .pointerMypage .current {
        background: rgba(223, 98, 37, 1) !important;
    }
    /* END */

    /* howWorkBox CSS */
    .howWorkBox {
        /*width: 80% !important;*/
        border: 1px solid gray;
        display: inline-block !important;
        box-shadow: 1px 1px 3px #888;
        height: 730px !important;
        padding: 10px;
        margin: 10px 10vw;
        float: left;
    }
    .howWorkBox p {
        font-size: 3.5vw;
    }
    .howWorkBoxHeader {
        font-size: 7vw !important;
    }
    .howWorkBox .circle{
        width: 15vw;
        height:15vw;
    }
    /* END */

    /* Request Response CSS */
    .SuggestHeader {
        padding: 1vw 0;
    }
    .subhead {
        font-size: 2.5vw;
    }
    .ContentBlockHeader {
        width: 100%;
        font-size: 3vw;
        font-family: 'Noto Sans Bold', 'Nanum Gothic-Bold', 'Raleway-Bold', sans-serif;
    }
    /* END */

    /* Main Picture Center CSS */
    #contentHomeBox {
        background-position: center center;
    }
    /* END */
}
