#map{
    height: 80vh;
    width: 100%;
}
.searchPlace{
    width: 100%;
    height: 80px;
    background: dimgray;
}
.searchPlace input{
    width: 40% !important;
    margin-left: 30%;
    color: white;
    padding-left: 2%;
    border-bottom: solid 1px white;
}
.searchPlace input:focus{
    border-bottom: solid 1px white !important;
    box-shadow: white 0px 1px 0px 0px !important;
}